@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* bg-orange-50 #fff7ed -> 33 100% 96% */
    --background: 33 100% 96%;
    /* text-stone-800 #292524 -> 24 5% 15% */
    --foreground: 24 5% 15%;

    --card: 0 0% 100%;
    --card-foreground: 24 5% 15%;

    --popover: 0 0% 100%;
    --popover-foreground: 24 5% 15%;

    /* bg-amber-400 #fbbf24 -> 45 93% 56% (Tweaked slightly from 43 to match amber-400 better) */
    --primary: 45 93% 56%;
    --primary-foreground: 24 5% 15%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 45 93% 56%;

    --radius: 0.75rem;

    --font-sans: "Inter", sans-serif;
    --font-rounded: "M PLUS Rounded 1c", sans-serif;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
